[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
pandas = "*"
spacy = "*"
cltk = "*"
scattertext = "*"
matplotlib = "*"
requests = "*"

[requires]
python_version = "3.8"
